@import url(https://fonts.googleapis.com/css?family=Lora);
body {
    width: 100%;
    height: 100%;
    font-family: 'Lora', serif;
	font-weight: 300;
    color: #666;
    background-color:;
	font-size: 16px;
    line-height: 1.6em;
}

html {
    width: 100%;
    height: 100%;
}

/** Header **/
.top-area {
	background-color:#5E35B1;
	color:white;
}
.social{
	background:white;
    padding:10px;
    border-radius: 50%;
	color:#5E35B1;
}
.call{
	padding:10px;
    border-radius: 50%;
	color:white;
}
	
.force{
	margin-left:400px;
	margin-right:0px;
}
a{
	color:white;
}

ul li:hover a:hover{
	color:white;
	background-color:#5E35B1;
}
.navbar-fixed-top{
	background-color:#673AB7;
}

/** Intro **/
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-image: url(../img/new.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

/** Features **/
#features{
	width:100%;
	position:relative;
	padding-top: 100px;
	padding-bottom:100px;
}

.circle-icon {
    background: #5E35B1;
    padding:30px;
    border-radius: 50%;
	color:white;
}

/** Parallax **/
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-2 {
  background-image: url(../img/new.jpg);
}

.par-format{
	color:white !important;
	text-align: justify;
	margin-top:100px;
}
.button2 { 
	border-radius:0;
	background:#5E35B1;
}

/** Facts **/
.count
{
  line-height: 100px;
  color:black;
  margin-left:30px;
  font-size:25px;
}

#facts{
	padding-top:20px;
}


/** Call to action **/
.calltoaction{
background-color:#5E35B1;
color:white;
}

.calltoaction  .container .row{
	margin-top:20px;
	padding:35px;
}


.btn-style{
	background-color:white;
	color:#5E35B1;
	padding:10px;
	border-radius:0;
	padding:10px;
}


/** Team **/
.page-header {
    padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}

#team{
	padding-top:10px;
	padding-bottom:50px;
}
.crop{
	width:50%
}

/** Contact **/
#btnContactUs{
	background-color:#5E35B1;
	color:white;
	border-radius:2px;
}

.form-group {
  margin-bottom: 20px;
}

/** Footer **/
#footer{
	margin-top:20px;
	width:100%;height:70px;
	background-color:#E0E0E0;
}

.foot{
	margin-top:20px;
}

.foot a{
	color:#5E35B1;
}
.nav-custom a{
	color:#5E35B1;
}
